body
{
    margin: 0;
    font-family: 'Roboto Mono', monospace;
    color: #f7f7f7;
    background-color: #313866;
}

header{
    background-image: linear-gradient(#504099, #313866);
    border: 1px solid #23294d;
    height: 10vh;
}

main{
    margin-top: 20px;
}

button
{
    color: #f7f7f7;
    background-color: orange;
    font-size: 30px;
    border: 1px solid #f7f7f7;
    border-radius: 10px;
    cursor: pointer;
}

#home
{
    color: #f7f7f7;
    font-size: 1.5em;
}

#main_container
{
    background-color: #504099;
    text-align: center;
    max-width: 500px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

#counter, #button
{
    display: flex;
    justify-content: center;
}

#button
{
    gap: 10px;
}