body
{
    margin: 0;
    background-color: #4E4F50;
    color: #E2DED0;
    font-family: 'Roboto Mono', monospace;
}

header{
    background-image: linear-gradient(#647C90, #526575);
    border: 1px solid #746C70;
    height: 8vh;
}

main{
    margin-top: 20px;
}

h1
{
    color: #E2DED0;
}

form
{
    background-color: #647C90;
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px black;
}

label
{
    font-size: 1.5em;
    font-weight: bold;
}

button
{
    margin-top: 20px;
    background-color: #366BA1;
    color: #E2DED0;
    font-size: 1.5em;
    border: none;
    padding: 10px 15px;
    border: 1px solid #313866;
    border-radius: 10px;
    cursor: pointer;
}

button:hover
{
    background-color: #28517a;
}

#home
{
    color: #f7f7f7;
    font-size: 1.5em;
}

#textbox
{
    width: 50%;
    text-align: center;
    font-size: 2em;
    border: 2px solid #313866;
    border-radius: 8px;
    margin-bottom: 15px;
}

#Result
{
    font-size: 1.5em;
    font-weight: bold;
}
